# --- IDE ---
.idea/
.vs/
.vscode/
*.user

# --- Build ---
build/
cmake-build-*/
out/
CMakeUserPresets.json

# --- Artefatti di compilazione ---
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.ilk

# --- Runtime ---
imgui.ini
